@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #2c2b2b;
}
.head {
  color: #fff;
  font-size: 1.3rem;
  padding: 5px;
}
.main {
  width: 100%;
  display: grid;
  height: 92vh;
  margin: 1rem 0;
  gap: 20px;
}
.section-2,
.section-1 {
  background-color: #191919;
  padding: 5px;
  height: 100%;
  overflow-y: scroll;
}
.section-1::-webkit-scrollbar,.section-2::-webkit-scrollbar{
  background-color: #cfcbcb;
  scroll-behavior: smooth;
  border-radius: 100px;
  width: 5px;
  height: 50px;
}
.task-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.task-1 i {
  color: #fff;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #fff;
}
.tasks {
  /* background-color: #000; */
  height: 100%;
}
.task-1 span {
  color: #fff;
  font-weight: bold;
}
/* tabs */
.section-1 {
  width: 100%;
  height: 100%;
  background-color: #191919;
  padding: 10px;
}
.tasks {
  width: 100%;
  padding: 8px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.tabs,
.sec2-tabs {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: space-between;
  margin: 0;
  color: #fff;
}
.sec2-tabs {
  padding: 3px;
}
.tabs {
  margin: 25px 0;
}
.tab,
.sec2-tab {
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  font-weight: bold;
}

.highlight-line,
.sec2-tab .highlight-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  margin: 0 auto;
  background-color: rgb(255, 174, 0); /* Highlight color */
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.tab:hover .highlight-line,
.sec2-tab:hover .highlight-line {
  transform: scaleX(1);
}
.content {
  display: none;
  width: 100%;
}

.content.active {
  display: block;
  width: 100%;
  height: 100%;
}
.tab-content {
  display: none;
  width: 100%;
}
.tab-content.tab-active {
  display: block;
  width: 100%;
  height: 100%;
}
.task-2 {
  width: 100%;
  margin: 10px 0;
  color: #fff;
}
#tab2 {
  width: 95%;
}
.task-2 select,
option,
input {
  width: 100%;
  padding: 5px;
  background-color: #2c2b2b;
  border: none;
  margin: 15px 0;
  color: #cfcbcb;
  border-radius: 2px;
}
.task-2 label {
  background-color: transparent;
  margin: 0;
}
.task-btns {
  display: flex;
  gap: 10px;
  width: 100%;
}
.btn1,
.btn2 {
  background-color: #007984;
  padding: 10px 15px;
  color: #191919;
  border: none;
  width: 50%;
  border-radius: 3px;
}
.btn2 {
  background-color: #b3891b;
}
.task-4 {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.task-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 1rem; */
  margin: 10px 0;
}
.ts {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  background-color: #2c2b2b;
  padding: 8px;
}
.task-3 i {
  color: #fff;
}
.ts1 {
  padding: 4px;
  border: 1px solid #b3891b;
  height: 10px;
  width: 10px;
}
.tak-5 {
  padding: 20px;
}
.task-6 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
}
.ts3 {
  display: flex;
  gap: 3px;
  align-items: center;
}
.img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.mess {
  margin: 10px;
  padding: 10px;
}
.typing {
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  background-color: #2c2b2b;
  padding: 15px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  left: 2px;
  right: 2px;
}
.typing span {
  background-color: #2c2b2b;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px;
}
.typing i {
  color: #fff;
  background-color: transparent;
}
.typing input {
  width: 60%;
}
.plus {
  text-align: center;
  color: #b3891b;
  margin: 10px auto;
  border: 1px solid #b3891b;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.files {
  width: 100%;
}
.file {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.file1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  /* gap: 2rem; */
}
.pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 3px;
  background-color: #2c2b2b;
}
.pd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}
.trash {
  color: #b3891b;
}
/* ============================================ */
/* section-2 */
.section-2 {
  padding: 1px;
  width: 100%;
  position: relative;
}
.line1 {
  display: flex;
  gap: 7px;
  /* justify-content: center; */
  align-items: center;
}
.line1-text {
  display: flex;
  gap: 10px;
}
.sec2-btn1,
.sec2-btn2 {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.sec2-btn2 {
  font-weight: normal;
}
.line2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
}
.date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #2c2b2b;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px;
}
.cal {
  background-color: #2c2b2b;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px;
}
.dates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 3px;
  margin-top: 20px;
  margin-bottom: 5px;
  align-items: center;
  margin: 10px auto;
}
.day {
  width: 100%;
  text-align: center;
  background-color: #2c2b2b;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.line3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 3px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  background-color: #2c2b2b;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.icon i {
  color: #b3891b;
}
.img1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.blue,
.pink {
  background-color: #1b67bf;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-bottom: 3px;
}
.pink {
  background-color: #ea4a9d;
}
.blue i {
  color: #191919;
}
.text {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #fff;
}
.dot {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
}
.grn-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #279a4f;
}
.green {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  display: flex;
  gap: 3px;
  justify-content: center;
  padding: 5px;
}
.line4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 3px;
  margin: 10px 0;
}
.profile {
  background-color: #191919;
  padding: 4px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.card{
  background-color: #2c2b2b;
  padding: 5px;
  height: 240px;
}
.card:hover{
  border: 1px solid #b3891b;
}
#sec2-tab2 .profile{
  height: 230px;
  background-color: #2c2b2b;
}
#sec2-tab2 .profile:hover {
  border: 1px solid #b3891b;
}
#sec2-tab2 .profile span {
  color: white;
  font-weight: bold;
}
#sec2-tab2 .profile {
  position: relative;
}
.orange,
.pin,
.blu,
.gr,
.sky,
.combine,
.yel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 2px;
  gap: 2px;
}
.combine {
  flex-direction: column;
  gap: 8px;
  bottom: 0px;
  align-items: center;
  margin: 0 auto;
}
.orange span,
.pin span,
.blu span,
.gr span,
.sky span,
.yel span,
.o span,
.p span {
  background-color: #9a3d29;
  color: white;
  padding: 5px;
  border-radius: 4px;
  width: 160px;
}
.pin span,
.p span {
  background: #ea4a9d;
}
.blu span {
  background-color: #1b67bf;
}
.gr span {
  background-color: #279a4f;
}
.sky span {
  background-color: #007984;
}
.yel span {
  background-color: #b3891b;
}
.orange i,
.pin i,
.blu i,
.sky i,
.yel i,
.p i,
.o i,
.gr i {
  color: #fff;
  background: #191919;
  padding: 8px 4px;
  border-radius: 4px;
}
.c {
  display: flex;
  gap: 4px;
  align-items: center;
}
/* calendar */
#calendar-container {
  max-width: 300px;
  background-color: #353942;
  padding: 4px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 10%;
  display: none;
  z-index: 1;
}
#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  border-bottom: 1px solid #cfcbcb;
}
#calendar-body {
  border: none;
  border-bottom: 1px solid #cfcbcb;
  padding: 10px 0;
}
.show-cal {
  background: transparent;
  color: #fff;
  border: none;
}
#month-year-display {
  display: flex;
  align-items: center;
  color: #fff;
}

.arrow-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 10px;
  color: #1b67bf;
  margin: 5px;
}

#calendar-container select {
  font-size: 16px;
  background: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  margin: 0 auto;
}

th,
td {
  padding: 3px;
  text-align: center;
  border: none;
  color: #fff;
}
td:hover {
  background-color: #1b67bf;
}
@media screen and (min-width: 1150px) {
  .main {
    grid-template-columns:23% 1fr ;
    gap: 1rem;
    margin: 5px auto;
  }
  .section-1{
    width: 100%;
  }
  .section-2{
    width: 100%;
  }
  .line1 {
    gap: 8rem;
    justify-content: left;
  }
  .line2 {
    gap: 10px;
  }
  .section-2 {
    padding: 5px;
  }
  #tab2 .task-btns {
    position: absolute;
    bottom: 0px;
    right: 2px;
    left: 2px;
    /* margin-top: 100px; */
  }
  .tasks {
    position: relative;
  }
  .tabs {
    padding: 5px;
    justify-content: center;
  }
  .sec2-tabs {
    gap: 50px;
  }
  .date,
  .cal {
    padding: 6px;
  }
}